<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!-- Imposto le stringhe di connessione e gli indirizzi mail -->
    <add key="cnStringSql" value="Server=SRVDATABASE\SQLGH;Initial Catalog=GESTIONE_MANUTENZIONE;User ID=sa;Password=Sqlmagic;"/>
    <add key="cnStringSqlEsp" value="Server=SRVTSESP\SQLESPERIA;Initial Catalog=GESTIONE_MANUTENZIONE;User ID=sa;Password=esp2015*;"/>
    <add key="reportInterventoPath" value="\\srv-galileoesp\report\REPORT_INTERVENTO.frx"/>
    <add key="reportRicambiPath" value="\\srv-galileoesp\report\REPORT_RICAMBI_PROPOSTI.frx"/>
  </appSettings>
</configuration>
