<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!-- Imposto le stringhe di connessione e gli indirizzi mail -->
    <add key="cnStringSql" value="Server=SRVDATABASE\SQLGH;Initial Catalog=GESTIONE_MANUTENZIONE;User ID=sa;Password=Sqlmagic;"/>
    <add key="reportInterventoPath" value="\\10.1.128.200\magic pack\PROCEDURE\APPLICAZIONI\GESTIONE_MANUTENZIONE\REPORT\REPORT_INTERVENTO.frx"/>
    <add key="reportRicambiPath" value="\\10.1.128.200\magic pack\PROCEDURE\APPLICAZIONI\GESTIONE_MANUTENZIONE\REPORT\REPORT_RICAMBI_PROPOSTI.frx"/>
    <add key="mailManutenzione" value="manutenzione@gruppo-happy.it"/>
  </appSettings>
</configuration>
